@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.main-content{
  background-color: #222020;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}

.main-title{
  padding: 20px;
  color: white;
  font-family:"Graphik LCG",sans-serif;
  margin-bottom: 30px;
}

.download{
 margin: 10px;
padding: 20px;
color:white;
background-color:#2f1ce4;
border: 3px;
display: inline-block;
}

.details{
  color: white;
  padding: 20px;;
  border-width: 3px;
  border-style: solid;
  border-color:white;
  background-color: transparent;
  display: inline-block;
}
.container{
  width: 1170px;
  margin: auto;
  padding: 30px 0px 30px 0px;
}

.back{
  background-position: center;
  background-size: 3px;
  background-repeat: repeat;
  margin-top: 2px;
}

.arrow{
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 20px;
}
.arrow2{
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 100px;
}

.menu{
margin-top: 100px;
padding-left: 100px;
color:#222020;
font-size: 46px;
}

.menu1{
  color: blue;
  font-size: 36px;
  margin-top: 100px;
  margin-left: 180px;
  margin-bottom: 25px;
}

.menu2{
  margin-left: 200px;
  margin-bottom: 18px;
}

.menu2 span{
  color:black
}

.menu3{
  margin-left: 180px;
  margin-bottom: 20px;


}

.image{
  text-align: center;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 100%;
}

.border{
  margin-bottom: 50px;
  margin-left: 200px;
  margin-top: 100px;
  border-collapse: collapse;
  padding: 10px;
  border: 2px solid #a0a0a0;
}

th,td{
  border-collapse: collapse;
  border: 2px solid #a0a0a0;
  padding: 20px;

}

caption{
  padding: 2px;
}

.end{
  color: blue;
}

ul{
  color: blue;
}

.global{
  text-decoration: underline;
  color: blue;
}

.center{
text-align: center;
 margin-bottom: 20px;
 padding-left: 100px;

}
.center1{
text-align: center;
 margin-bottom: 20px;
}

figure{
  padding-left: 100px;
  max-width: 800px;
}

.modules{
 text-align: center;
color: blue;
text-decoration: underline;
 padding-left: 650px;

}

.skill{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 100px;
}

.web{
  padding-left: 180px;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 45px;
  width: 631px;

}

.card {
  position: relative;
  display: inline-block;
  width: 480px;
  height: 500px;
  vertical-align: top;
  box-shadow: rgb(170, 170, 170) 0px 0px 30px;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 50px;
}

.card__image {
display: block;
width: 100%;
height: 150px
}

.card__wrap {
font-size: 22px;
padding: 20px;
color: blue;
margin-left: 20px;
}

.card__wrap li {
margin-top: 15px;
color: black;
list-style-type: none;
}

.card span {
 font-size: 48px;
color: rgb(234, 234, 234);
position: absolute;
bottom: 10px;
right: 10px;
 }

body.wave{
padding-bottom: 350px;
background-image: url(wave.png);
background-repeat: no-repeat;
background-position: bottom;
 }

.show{
color: blue;
text-align: center;
border-style: solid;
margin-left: 430px;
 margin-top: 100px;
 padding: 30px 80px 30px 80px;
display: inline-block;
}

.content{
  justify-content: center;
  flex-direction: column;
  margin-left: 90px;
  width:1170px;
}


